### NamedTuple
#### The standard tuple uses numerical indexes to access its members. For simple use cases, this is usually enough. On the other hand, remembering which index should be used for each value can lead to errors, especially if the tuple has a lot of fields and is constructed far from where it is used. A namedtuple assigns names, as well as the numerical index, to each member. 

#### Each kind of namedtuple is represented by its own class, created by using the namedtuple() factory function. The arguments are the name of the new class and a string containing the names of the elements.

#### You can basically think of namedtuples as a very quick way of creating a new object/class type with some attribute fields.

In [1]:
from collections import namedtuple

#### Creating a Dog object/class

In [2]:
Dog = namedtuple("Dog", "age breed name")

In [3]:
london = Dog(age=15,breed="Lab",name="London")

In [4]:
london

Dog(age=15, breed='Lab', name='London')

In [5]:
london[0]

15

In [6]:
london[1]

'Lab'

In [8]:
london[2]

'London'

#### Creating a Cat object/class

In [9]:
Cat = namedtuple("Cat", "fur claws name")

In [10]:
c = Cat(fur="Fuzzy",claws=False,name="Kitty")

In [11]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')

In [12]:
c.name

'Kitty'

In [13]:
c.fur

'Fuzzy'